@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
/*Основные селекторы*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}

.mt-100 {
    margin-top: 100px;
}

h1 {
    text-align: center;
    font-family: "Open Sans Bold";
    font-size: 36px;

}

h2 {
    font-size: 24px;
    font-family: "Open Sans Bold";
}

p {
    font-size: 18px;
    font-family: "Open Sans Regular";
}

a {
    color: black !important;
    font-family: "Open Sans Regular";
    font-size: 18px;
    transition: .3s;
    text-decoration: none;
}

a:hover {
    transition: .3s;
    color: #4060b2 !important;
}

button {
    cursor: pointer;
    font-family: "Open Sans Regular";
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    width: 100px;
    height: 30px;
    color: white;
    transition: .3s;
    background-color: #4060b2;
}

button:hover {
    transition: .3s;
    box-shadow: 0 0 13px 1px #4060b2;
}
/*Хедер*/
.nav-panel {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    width: 570px;
    max-width: 100%;
    justify-content: space-between;
}

.nav-list a {
    margin: 0 auto;
    font-family: "Open Sans Bold";
}

.nav-panel .logo img {
    width: 160px;
    height: 90px;
}

.bg {
    background-image: url("../img/bg.png");
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg h1 {
    margin:0;
    padding-top: 250px;
    font-size: 60px;
    color: white;
    text-align: center;
}

/*Карусель*/
.slides img{
    opacity: 0;
    height: 0;
    transition: .4s;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.slides img:first-child{
    opacity: 1;
    height: 200px;
    width: 300px;
}
.slider {
    text-align: center;
}
.slider button{
    margin-top: 20px;
}


.about-us {
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-attr {

    display: flex;
    flex-direction: column;
    font-family: "Open Sans Regular";
    font-size: 16px;
}

.form-attr input, select {
    padding: 0;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.card img {
    margin-right: 40px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.sub form {
    font-family: "Open Sans Regular";
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub button {
    margin-left: 30px;
}

.sub form input, button {
    width: 140px;
    height: 30px;
    border-radius: 10px;
}
/*Футер*/
footer {
    background-color: black;
}

footer .container {
    height: 100px;
}

footer .logo img {
    height: 66px !important;
}

footer .logo {
    display: flex;
    flex-direction: column;
}

footer a {
    color: white !important;
}

.tel {
    font-size: 14px !important;
    font-family: "Open Sans Bold";
}

/*search.html - страница результатов поиска*/
.search-results .card p {
    margin: 0 0 10px;
}

.price {
    font-family: "Open Sans Bold";
    font-size: 18px;
    color: #4060b2;
}

/*seats.html - страница выбора мест*/
.seats-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-buttons input{
    width: 33px;
    height: 33px;
}

.booking-submit{
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/*booking.html - страница бронирования*/
.booking .container p{
    font-size: 24px;
    margin: 0;
    padding-bottom: 5px;
}
.booking .price{
    padding-top: 20px;
}